@import "./../../variables/colors";
@import "./../../variables/animation";

.dashboard-error__box {
  width: 100%;
  position: absolute;
  text-align: center;
}

.dashboard-error_message-simple {
  flex-grow: 1;
  user-select: none;
  padding: 10px 0 10px 0;
}

.dashboard-error_wrapper {
  display: flex;
  align-items: center;
  background: #c0392b;
  cursor: pointer;
}

.dashboard-error__collapse-button {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.dashboard-error__copy-button {
  width: 15px;
  height: 15px;
  margin-left: 2px;
  display: inline-flex;
}

.dashboard-error__animation-wrapper {
  overflow: hidden;
  margin-top: 2px;
}

.dashboard-error__tooltip {
  display: flex;
  justify-content: center;
  background: #c0392b;
  padding: 20px 0 20px 0;
}

.dashboard-error__tooltip-text {
  max-width: 80%;
}

.dashboard-error__tooltip-menu {
  position: relative;
  margin-left: 3px;
  margin-right: 5px;
}

.dashboard-error__copy-message-box {
  position: absolute;
  top: -5px;
  left: 15px;
  margin-left: 10px;
  background: #FFFFFF;
  color: #000000;
  padding: 5px;
  border-radius: 5px;
}

.dashboard-error__copy-animation {
  &-enter-active { transition: transform $animationTimeFast $easeOutCubic, opacity $animationTimeFast $easeOutCubic; }
  &-leave-active { transition: transform $animationTimeFast $easeInCubic, opacity $animationTimeFast $easeOutCubic; }
  &-leave-to { opacity: 0; transform: translateY(-100%);}
  &-enter { opacity: 0; }
}

.dashboard-error__tooltip-animation {
  &-enter-active { transition: transform $animationTimeFast $easeOutCubic; }
  &-leave-active { transition: transform $animationTimeFast $easeInCubic; }
  &-enter, &-leave-to { transform: translateY(-100%) scaleY(0); }
}
