@import "./../../variables/colors";
@import "./../../variables/animation";

.icon-button__button {
    display: flex;
    justify-content: center;
    background: 0;
    border: 0;
    overflow: hidden;
    cursor: pointer;
    transition: background-color $animationTimeFaster $easeInOutCubic;

    &:focus {
        outline: 0;
    }

    // Better animation handling?
    &:hover .icon-button--animation-hover-rotate {
        transform: rotateZ(45deg);
    }
}

.icon-button--animation-hover-rotate {
    transition: transform 300ms $easeInOutCubic;
}

.icon-button--color-light-gray {
    fill: $button-light;
}

.icon-button--color-white {
    fill: #FFFFFF;
}
