@import "./../../variables/colors";
@import "./../../variables/animation";

.icon-button__button {
    display: flex;
    background: 0;
    padding: 2px;
    border: 0;
    cursor: pointer;

    &:focus {
        outline: 0;
    }
}

.icon-button__button-icon {
    width: 30px;
    height: 30px;
}

.icon-button--animation-hover-rotate {
    transition: transform 300ms $easeInOutCubic;

    &:hover {
        transform: rotateZ(45deg);
    }
}

.icon-button--color-dark-gray {
    fill: $button-light;
}