@import "./../../variables/colors";
@import "./../../variables/animation";

.icon-button__button {
    display: inline-block;
    background: 0;
    padding: 2px;
    border: 0;
    overflow: hidden;
    cursor: pointer;

    &:focus {
        outline: 0;
    }

    // Better animation handling?
    &:hover .icon-button--animation-hover-rotate {
        transform: rotateZ(45deg);
    }
}

.icon-button--animation-hover-rotate {
    transition: transform 300ms $easeInOutCubic;
}

.icon-button__button-icon {
    width: 100%;
    height: 100%;
}

.icon-button--color-dark-gray {
    fill: $button-light;
}