$foreground: #292929;
$background-window-frame-hover: #292929;

$background-window-frame-hover-red: red;

$background: #212121;
$scroll-bar-background: #212121;

$background-window-frame: #1a1a1a;

$button-light: #E0E0E0;
$text: #E0E0E0;

$head-line: #CA5010;

$menu-horizontal-line: #242424;

$scroll-bar-foreground: #1d1d1d;

$scroll-bar-foreground-hover: #1a1a1a;
