@import "./../../variables/colors";

.window-frame__frame {
    width: 100%;
    padding: 1px 0px 3px 0;
    background: $background-window-frame;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.window-frame__control {
    display: flex;
    float: right;
    height: 18px;
    margin: 0 3px 0 0;
    -webkit-app-region: no-drag;
}

.window-frame__max-icon,
.window-frame__min-icon,
.window-frame__close-icon {
    width: 40px;
    height: 18px;
}

.window-frame__settings-icon {
    width: 14px;
    height: 20px;
    margin-right: 10px;
}

.window-frame__close-icon {
    &:hover {
        background: $background-window-frame-hover-red !important;
    }
}

.window-frame__max-icon,
.window-frame__min-icon {
    &:hover {
        background: $background-window-frame-hover !important;
    }
}
