@import './variables/colors';

.app__body {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    top: 22px;
    bottom: 0px;
    position: absolute;
    overflow-y: auto;
    background: $background;
    overflow: hidden;
}

.app-body__overview {
    order: 0;
    flex-grow: 1;
    margin: 0 5px 0 0;
}

.app-body__nav {
    order: 1;
}
