@import './variables/colors';

.app__body {
    width: 100%;
    top: 22px;
    bottom: 0px;
    position: absolute;
    overflow-y: auto;
    background: $background;
}

.app__body-nav {
    float: right;
    margin: 10px;
}

.app__body-settings-button {
    width: 25px;
    height: 25px;
}
